body {
    #wrapper {
        header {
            background: gray;
            #top-image {
                img {
                    padding-top: 10px;
                    margin-bottom: -35px;
                }
            }
        }
    }
}
